.header {
    width: 1176px;
    height: 55px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;

    background-color: #50CAFF;
}

.header__pageName h2 {
    font-family: Rubik, sans-serif;
    font-weight: 400;
    size: 14px;
    color: #ffffff;
    line-height: 5px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav__link {
    margin-right: 21px;
}

.avatar {
    border-radius: 50%;

    margin-right: 8px;
}